
 

 section{
    padding: 50px;
 }

 h1,h2,h3{
    color: #333;
 }
 .project{
    border: 1px solid #333;
    margin-bottom: 20px;
    padding: 10px;
 }
 form label{
    display: block;
    margin-bottom: 10px;
 }
 form input[type="text"],
 form input[type="email"] {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
 }
 button{
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
 }

 footer{
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
 }