.carousel{
width: 400px;
height: 200px;
border-radius: 18px;
background: #ccc;

}

.carousel img{
width: 400px;
height: 200px;
border-radius: 26px;

}
@media (max-width: 800px) {
    .carousel{
        width: 270px;
        height: 200px;
        background: #ccc;
        border-radius: 18px;
    }
    .carousel img{
        width: 270px;
        height: 200px;
        border-radius: 26px;
        
        }
}
